
<div class="quizAPP">
    <div class="row" id="bigCallout" ng-controller="HomeController as home" ng-hide="home.quizService.quizActive || home.quizService.resultsActive">
        <div class="col-sm-12 ">
            <div class="well">
                <div class="page-header">
                    <h1>{{home.title | makeUppercase }}  </h1>
                </div><!--End Page Header -->

            </div>

        </div>
    </div><!--End row -->
    <!-- Hook on the controller for this view and specify when to show it using ng-hide -->
    <div ng-controller="HomeController as home" ng-hide="home.quizService.quizActive || home.quizService.resultsActive">
        <!-- top search bar with start quiz button using bootstrap -->
        <form class="form-inline well well-sm clearfix">
            <span class="glyphicon glyphicon-search"></span>
            <input
                    type="text"
                    placeholder="Search..."
                    class="form-control"
                    ng-model="list.search">
            <button class="btn btn-warning pull-right"
                    ng-click="home.activateQuiz()">
                <strong>Start Quiz</strong>
            </button>
        </form>
        <!-- row to contain the list of turtles -->
        <div class="row">
            <!-- ng-repeat allows areas of markup to be repeated for a set number of times using model data -->
            <!-- in this case it is a property on the view model called data which is being filtered using the search -->
            <!-- property on the model -->
            <div class="col-sm-12">
                <div class="col-sm-6" ng-repeat="turtle in home.list | filter:list.search">
                    <!-- using a bootstrap well to style -->
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- ng-src instead of src to allow correct functionality with angular -->
                                <img ng-src="{{turtle.image_url}}"
                                     class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-6">
                                <!-- ng-src instead of src to allow correct functionality with angular -->
                                <h4>{{turtle.type}}</h4>
                                <!-- more angular data binding -->
                                <p><strong>Locations: </strong>{{turtle.locations}}</p>
                                <p><strong>Size: </strong>{{turtle.size}}</p>
                                <p><strong>Average Lifespan: </strong>{{turtle.lifespan}}</p>
                                <p><strong>Diet: </strong>{{turtle.diet}}</p>
                                <!-- ng-click is an angular directive to allow click events within angular -->
                                <!-- data-toggle and data-target are bootstrap attributes to trigger the popup modal -->
                                <button class="btn btn-primary pull-right"
                                        data-toggle="modal"
                                        data-target="#turtle-info"
                                        ng-click="home.details(turtle)">Learn More</button>
                            </div>
                        </div><!-- row -->
                    </div><!-- well -->
                </div><!-- col-xs-9 -->
            </div>


        </div> <!--End Row -->

        <!-- the markup for the modal -->
        <div class="modal" id="turtle-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- more usage of angular data binding -->
                        <h2>{{home.activeDetails.type}}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <!-- ng-src used again instead of src -->
                                <img ng-src="{{home.activeDetails.image_url}}" class="img-rounded img-responsive">
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-6">
                                <!-- angular data binding -->
                                <p><strong>Locations: </strong>{{home.activeDetails.locations}}</p>
                                <p><strong>Size: </strong>{{home.activeDetails.size}}</p>
                                <p><strong>Average Lifespan: </strong>{{home.activeDetails.lifespan}}</p>
                                <p><strong>Diet: </strong>{{home.activeDetails.diet}}</p>
                            </div>
                            <div class="col-xs-12 top-buffer">
                                <!-- angular data binding and data-dismiss for bootstrap -->
                                <p>{{home.activeDetails.description}}</p>
                                <button class="btn btn-danger pull-right"
                                        data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Home Controller -->

    <!-- QuizController -->
    <hr>
    <div ng-controller="QuizController as quiz" ng-show="quiz.quizService.quizActive">
        <div class="row">
            <div class="col-xs-8">
                <h2>Progress:</h2>
                <div class="btn-toolbar">

                    <button class="btn" ng-repeat="question in quiz.DataService.quizQuestions"
                            ng-class="{'btn-info': question.selected !== null,'btn-danger': question.selected
                             === null}"  ng-click="quiz.setActiveQuestion($index)"><span class="glyphicon " ng-class="{'glyphicon-pencil':question.selected !== null,
                             'glyphicon-question-sign': question.selected === null}"></span>
                    </button>
                </div>
            </div> <!-- End col-8 -->
            <div class="col-xs-4">
                <div class="row">
                    <h4>Legend:</h4>
                    <div class="col-sm-4">
                        <button class="btn btn-info">   <span class="glyphicon glyphicon-pencil"></span></button>
                        <p>Answered</p>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger">   <span class="glyphicon glyphicon-question-sign"></span></button>
                        <p>Unanswered</p>
                    </div>
                </div>
            </div>
        </div> <!-- Progress Area -->
        <div class="row">
            <div class="alert alert-danger"
                 ng-show="quiz.error">
                Error! You have not answered all of the questions!
                <button class="close" ng-click="quiz.error = false">&times</button>
            </div>
            <h3>Question :</h3>
            <div class="well well-sm" ng-hide="quiz.finalise">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{quiz.activeQuestion + 1 + ". " + quiz.DataService.quizQuestions[quiz.activeQuestion].text}}</h4>

                        <div class="row"
                             ng-if="quiz.DataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                            <div class="col-sm-6" ng-repeat="answer in quiz.DataService.quizQuestions[quiz.activeQuestion].possibilities">
                                <h4 class="answer"
                                    ng-class="{'bg-info': $index === quiz.DataService.quizQuestions[quiz.activeQuestion].selected}"
                                    ng-click="quiz.selectAnswer($index)">
                                    {{answer.answer}}
                                </h4>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="quiz.DataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                            <!-- more bootstrap and another ng-repeat, this time looping through the possible answers -->
                            <div class="col-sm-6" ng-repeat="answer in quiz.DataService.quizQuestions[quiz.activeQuestion].possibilities">
                                <div class="image-answer"
                                     ng-class="{'image-selected': $index === quiz.DataService.quizQuestions[quiz.activeQuestion].selected}"
                                     ng-click="quiz.selectAnswer($index)">
                                    <img ng-src="{{answer.answer}}">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-warning" ng-click="quiz.questionAnswered() ">Continue</button>
            </div>


            <div class="well well-sm" ng-show="quiz.finalise">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Are you sure you want to submit your answers?</h3>
                        <button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Yes</button>
                        <button class="btn btn-danger" ng-click="quiz.finalise = false">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- quiz controller -->
    <!-- letting angular know which controller to use for this view and when to show the view using ng-show -->
    <div ng-controller="ResultsController as results" ng-show="results.quizService.resultsActive">
        <div class="row">
            <div class="col-xs-8">
                <h2>Results:</h2>
                <div class="btn-toolbar">

                    <button class="btn"
                            ng-repeat="question in results.DataService.quizQuestions"
                            ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                            ng-click="results.setActiveQuestion($index)">
                        <!-- display glyphicons -->
                        <!-- ng-class is utilsed again to style the glyphicons conditionally -->
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <h4>Legend:</h4>
                    <div class="col-sm-4">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <p>Correct</p>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <p>Incorrect</p>
                    </div>
                </div>
            </div>
        </div><!-- row -->

        <!-- display the score and percentage to the user -->
        <div class="row">
            <div class="col-xs-12 top-buffer">
                <!-- the score is displayed using simple angular expressions -->
                <h2>You Scored {{results.quizService.numCorrect}} / {{results.DataService.quizQuestions.length}}</h2>
                <!-- the percentage is calculated using a method which is then filtered using the number filter -->
                <!-- which ensures only 2 decimal places will be shown -->
                <h2><strong>{{results.calculatePerc() | number:2}}%</strong></h2>
            </div>
        </div>

        <div class="row">
            <h3>Questions:</h3>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12">

                        <h4>{{results.activeQuestion+1 +". "+results.DataService.quizQuestions[results.activeQuestion].text}}</h4>
                        <div class="row"
                             ng-if="results.DataService.quizQuestions[results.activeQuestion].type === 'text'">
                            <!-- ng-repeat being utilised again -->
                            <div class="col-sm-6" ng-repeat="answer in results.DataService.quizQuestions[results.activeQuestion].possibilities">
                                <h4 class="answer"
                                    ng-class="results.getAnswerClass($index)">
                                    {{answer.answer}}
                                    <!-- more usage of the ng-show directive to selectively show the elements on condition -->
                                    <p class="pull-right"
                                       ng-show="$index !== results.quizService.correctAnswers[results.activeQuestion] && $index === results.ss.quizQuestions[results.activeQuestion].selected">Your Answer</p>
                                    <p class="pull-right"
                                       ng-show="$index === results.quizService.correctAnswers[results.activeQuestion]">Correct Answer</p>
                                </h4>
                            </div>
                        </div><!-- row -->

                        <!-- more ng-if -->
                        <div class="row"
                             ng-if="results.DataService.quizQuestions[results.activeQuestion].type === 'image'">
                            <!-- more ng-repeat -->
                            <div class="col-sm-6" ng-repeat="answer in results.DataService.quizQuestions[results.activeQuestion].possibilities">
                                <!-- ng-class and ng-src -->
                                <div class="image-answer"
                                     ng-class="results.getAnswerClass($index)">
                                    <img ng-src="{{answer.answer}}">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div><!-- well -->
            <!-- ng-click calling the reset method on the controller -->
            <button class="btn btn-primary btn-lg" ng-click="results.reset()">Go Back To Home</button>
        </div>
    </div>


</div>
<br>