<footer id="footerWrapper">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="footerContent">
                        <img src="" alt="myBlogLogo" id="footerLogo">
                        <p><a href="" title="Little Neko, website template creation">My Blog</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too! </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerAddress">

                        <h3>Adwaitya Sadhukhan</h3>

                            <p> <i class="icon-location"></i>&nbsp;Bangalore ,Karnataka<br>
                                <br>
                                <i class="icon-phone"></i>&nbsp;8553278106<br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">adwaitya.118038@gmail.com</a> </p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-social ">
                        <h3>Follow us</h3>
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="tips" title="follow me on Facebook"><span class="fa-stack fa-2x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span></a></li>
                            <li><a href="#" class="tips" title="follow me on Twitter"><span class="fa-stack fa-2x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span></a></li>
                            <li><a href="#" class="tips" title="follow me on Google+"><span class="fa-stack fa-2x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x"></i>
                            </span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
<div class="row">

    <div class="copyright">
        <div class="container">
            <div class="col-md-6 col-md-offset-4">
                <p>Copyright © 2016 <a href="" target="blank">MyBlog</a> / All rights reserved.</p>
            </div>
        </div>


    </div>

</div>